@font-face
  font-family: Montserrat;
  src: url(./../assets/fonts/Montserrat/Montserrat-SemiBold.ttf);

// declare a class which applies it
body
  font-family: 'Montserrat';

.montserrat
  font-family: 'Montserrat'!important;
